{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
      
    {% block content %}
		<form method="post">
			{% csrf_token %}

			<h2 class="modal-title">Cambiar contraseña</h2>
			{% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger form2" role="alert">
                    {{message}}
                    </div>
                {% endfor %}
            {% endif %}
			<br>
			<div class="form2">
				{{ form|crispy }}
			</div>
			<br>

			<a class="btn btn-danger" role="button" href="{% url 'usuario'%}" class="btn btn-default">Cancelar</a>
			<button class="btn btn-primary" role="button" type="submit">Confirmar</button>
		</form>
	{% endblock %}