{% extends 'base/base.html' %}
{% load static %}

		{% block content %}
			<div class="container tm-features-section" id="features">
				<h3>Usuarios</h3>
					<table class="table table-bordered">
						<thead class="table-primary">
						<td class="td1">Nombre</td>
						<td class="td1">Usuario</td>
						<td class="td1">Email</td>
						<td class="td1">Rol</td>
						<td class="td1"></td>
						<td class="td1"></td>
						</thead>

						{% if object_list %}
						{% for usu in object_list %}
						
						<tr class="">
							<td class="">{{usu.first_name}} {{usu.last_name}}</td>
							<td class="">{{usu.username}}</td>
							<td class="">{{usu.email}}</td>
							<td class="">{% if usu.is_superuser %}
							Administrador
							{% else %}
							Nutricionista
							{% endif %}</td>
							<td class="td1 cent"><a class="btn btn-warning" role="button" href="{% url 'ModificarUsuario' usu.id %}" class="btn btn-sm">Editar</a></td>
							<td class="td1 cent"><a class="btn btn-danger" role="button" href="{% url 'EliminarUsuario' usu.id %}" class="btn btn-sm">Eliminar</a></td>
						</tr>

						{% endfor %}
						{% else %}
						<h3>No hay usuarios registrados</h3>
						{% endif %}
					</table>
					<br>
					<a class="btn btn-primary" role="button" href="{% url 'RegistrarUsuario'%}" class="btn btn-sm">Agregar</a>
			</div>
			
  		{% endblock %}