{% extends 'base/base.html' %}
{% load static %}
      
    	{% block content %}
			<div class="container tm-features-section" id="features">
				
					<table>

						{% for paciente in object_list %}
						<h3>Paciente: {{paciente.nombre}}</h3>

						<tr class="tr1">
							<td class="td1">Nombre</td>
							<td class="td1">Edad</td>
							<td class="td1">Dui</td>
							<td class="td1">Estatura</td>
							<td class="td1">Peso</td>
						<td class="td1"></td>
						</tr>
						
						<tr class="">
							<td class="">{{paciente.nombre}} {{paciente.apellidos}}</td>
							<td class="">{{paciente.edad}}</td>
							<td class="">{{paciente.dui}}</td>
							<td class="">{{paciente.estatura}} cm</td>
							<td class="">{{paciente.peso}} kg</td>
							<td class="td1"><a href="{% url 'ModificarPaciente' paciente.id %}" class="btn btn-sm">Editar</a></td>
						</tr>

							{% if paciente.plan %}
							{% for paciente in object_list %}
							
							<table>
							<h3>Plan Asignado:</h3>
								<tr class="tr1">
									<td class="td1">Tipo</td>
									<td class="td1">Tiempo</td>
									<td class="td1">Cantidad de Carbohidratos</td>
									<td class="td1">Cantidad de Proteinas</td>
									<td class="td1">Cantidad de Grasas</td>
									<td class="td1">Cantidad de Vitaminas</td>
									<td class="td1">Cantidad de Minerales</td>
								</tr>

								<tr class="">
									<td class="">{{paciente.plan.tipo}}</td>
									<td class="">{{paciente.plan.tiempo}} semanas</td>
									<td class="">{{paciente.plan.cantCarbohidratos}} %</td>
									<td class="">{{paciente.plan.cantProteina}} %</td>
									<td class="">{{paciente.plan.cantGrasas}} %</td>
									<td class="">{{paciente.plan.cantVitaminas}} %</td>
									<td class="">{{paciente.plan.cantMinerales}} %</td>
								</tr>

								<table>
									<br>
									<tr class="tr1">
										<td class="td1">Descripción</td>
									</tr>
									<tr class="">
										<td class="">{{paciente.plan.descripcion}}</td>
									</tr>
								</table>

							{% endfor %}
							
							</table>

							{% else %}
								<table>
									<h3>No hay plan asignado</h3>
								</table>
							{% endif %}

						{% endfor %}

					</table>
                    
			</div>
		{% endblock %}