{% extends 'base/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}   

{% block content %}
	<div class="container tm-features-section" id="features">
		<h3>Integrantes:</h3>
		<table>
			<tr class="tr1"><td class="td1">Carnet</td><td class="td1">Apellidos</td><td class="td1">Nombres</td></tr>
			<tr class=""><td class="">CH17013</td><td class="">Castro Henriquez</td><td class="">Maira Yesenia</td></tr>
			<tr class=""><td class="">IC14002</td><td class="">Iraheta Cerna</td><td class="">Enmanuel Enrique</td></tr>
			<tr class=""><td class="">PV17028</td><td class="">Portillo Ventura</td><td class="">Kevin Enrique</td></tr>
			<tr class=""><td class="">RG18081</td><td class="">Rivera Garcia</td><td class="">Marvin Rene</td></tr>
		</table>
	</div>
{% endblock %}